extends ../template

block variables
  - var title = "About page"

block content
  section.section.about
    .about__left
      svg(viewbox="0 0 1000 100" 
          preserveAspectRatio="none" 
          class="triangle triangle_color_gray")
        polygon(points="0,0 0,100 1000,100")
        .about__title-section
          +title("Обо мне", "about_header", "about__title")
      .user-about.about__user-about
        .user-about__pic(style=`background-image: url("/assets/img/user-about.jpg")`)
        .user-about__subtitle
          h2.subtitle Кто я
        .user-about__text
          p.
            Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. 
          p.
            Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
          



    .about__right
      svg(viewbox="0 0 1000 100" 
          preserveAspectRatio="none" 
          class="triangle triangle_color_beige")
        polygon(points="0,100 1000,0 1000,100 ")
      .about-data
        .about-data__desc.about-user-info
          .about-user-info__title
            h2.subtitle Чем я могу быть вам полезен
          .about-user-info__text
            p.
              Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.


        .about-data__content
          ul.skills
            each skillsItem in skills
              each skill, val in skillsItem
                li.skills__item
                  .skills-section
                    .skills-section__title= val
                    ul.skills-section__list
                      each name in skill
                        li.skill
                          svg.skill__circle
                          .skill__text= name
                      

  section.section.map   